html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: fixed;
}
#big-container{
	width: auto;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}
#SVGcontainer{
	width: auto;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

#logo-container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(9, auto);
}
.grid{
	padding: 20px 35px 20px 35px;
	display: grid;
	grid-template-columns: repeat(5,30px);
	grid-template-rows: repeat(6,30px);
	/*background-color: #999;*/
	/*border: 1px solid #999 ;*/
}
.pixels{
	margin: 3px;
	width: 24px;
	height: 24px;
	background-color: #000;
	z-index: 10000;
	/*mix-blend-mode: difference;*/
	
	/*border-radius: 100%;*/
}
.pixel-round{
	margin: 3px;
	width: 24px;
	height: 24px;
	background-color: #000;
	z-index: 10000;
}
.data{
	margin: 3px;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background-color: #29ABE2;
	opacity: 0;
}
.line{
	padding:0px;
	margin:0px;
	height:8px;
	background-color:#000;
	line-height:1px;
	position:absolute;
}
.dataline{
	padding:0px;
	margin:0px;
	height:6px;
	background-color:#29ABE2;
	/*opacity: 0;*/
	line-height:1px;
	position:absolute;
	transition-duration: 300ms;
	transition-property: width;
}
#DataLine0, #DataLine4, #DataLine7, #DataLine9{
	/*background-color: #f07;*/
	background-color: #29ABE2;
}
